.section-footer {
  position: relative;
}

.background-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  max-height: 670vh;
  margin-bottom: 0px;
  padding-bottom: 0px;

  background-color: #051118;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;

  background-clip: border-box;
  -webkit-text-fill-color: inherit;

  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .background-layer {
    background-position: 0px 0px, 50% 100%;
    background-size: 300px 300px, auto;
  }
}

.background-layer.trial {
  background-color: #051118;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.crit-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #051118;

  color: #df0;
}

@media screen and (max-width: 479px) {
  .crit-container {
    display: flex;
    width: auto;
    max-width: 360px;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.padding-vertical-footer {
  padding-top: 120px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .padding-vertical-footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

.footer_text-wrapper {
  position: relative;

  max-width: 640px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;

  text-align: center;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

@media screen and (max-width: 479px) {
  .margin-bottom-medium {
    margin-bottom: 24px;
  }
}

.margin-bottom-medium.trial {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: #051118;
}

@media screen and (max-width: 767px) {
  .margin-bottom-medium.trial {
    padding-top: 20px;
  }
}

.margin-bottom-medium.tool-page {
  display: flex;
  padding-top: 0px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  transition: opacity 200ms ease;
}

@media screen and (max-width: 767px) {
  .margin-bottom-medium.tool-page {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom-medium.tool-page.hide-mobile-landscape {
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none;
  }
}

.crit-h4 {
  align-self: center;

  font-family: Relative;
  color: hsla(229, 0.00%, 84.00%, 1.00);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  -webkit-text-stroke-color: hsla(202.10526315789474, 65.52%, 5.69%, 1.00);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  color: #051118;
  -webkit-text-stroke-color: #051118;
}

.button-icon-small-secondary {
  z-index: 500;

  display: flex;
  padding: 10px 20px 10px 18px;
  align-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0.00%, 3.92%, 1.00);
  border-radius: 8px;

  background-color: hsla(0, 0.00%, 100.00%, 1.00);

  transition: all 400ms ease;

  color: hsla(0, 0.00%, 8.63%, 1.00);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small-secondary:hover {
  transform: translate(0px, -2px);
}

@media screen and (max-width: 991px) {
  .button-icon-small-secondary {
    position: static;
    top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button-icon-small-secondary {
    padding: 10px 16px 10px 14px;
  }
}

@media screen and (max-width: 479px) {
  .button-icon-small-secondary {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }
}

.image-37 {
  width: 100px;
}

.footer-text {
  padding-top: 20px;
  color: hsla(0, 0.00%, 52.67%, 1.00);
  font-size: 20px;
  font-weight: 400;
}

.footer_credits-wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
}

@media screen and (max-width: 767px) {
  .footer_credits-wrapper {
    flex-direction: column-reverse;
  }
}

.paragraph-20 {
  font-family: 'Relative Book';
}