.cta-section {
  padding: 3%;
}

.cta-grid {
  min-height: 640px;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 461px;
}

.cta-image {
  max-width: none;
}

.cta-content {
  display: flex;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 60px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;

  background-color: var(--craiedl-colour-1);
}

.heading-23 {
  font-family: Poppins;
  color: hsla(0, 0.00%, 94.53%, 1.00);
  line-height: 1.1;
  letter-spacing: -0.03px;
}

.button-white.button-space {
  min-height: 60px;
  margin-top: 40px;
  padding: 20px 35px;

  border-radius: 4px;

  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);

  transition: background-color 250ms ease;

  font-family: Poppins;
  color: hsla(0, 0.00%, 12.26%, 1.00);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  -webkit-text-stroke-color: #333;
}

#w-node-_7e61b41c-d0ac-bf33-d781-80867bc3c9d0-7bc3c9ce {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_7e61b41c-d0ac-bf33-d781-80867bc3c9d1-7bc3c9ce {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_7e61b41c-d0ac-bf33-d781-80867bc3c9d7-7bc3c9ce {
}