.efi-nav-01 {
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--new-craiedl-2);

  background-clip: padding-box;
  -webkit-text-fill-color: inherit;
}

@media screen and (max-width: 991px) {
  .efi-nav-01 {
    background-color: var(--white);
  }
}

@media screen and (max-width: 479px) {
  .efi-nav-01 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.page-wrapper-2 {
  width: 100%;
  max-width: 2440px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .div-block-34 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.container-large {
  width: 100%;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1440px) {
  .container-large {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 991px) {
  .container-large {
    max-width: none;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 991px) {
  .container-large.navbar {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 767px) {
  .container-large.navbar {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.navbar {
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: var(--new-craiedl-2);
}

@media screen and (max-width: 479px) {
  .div-block-59 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media screen and (max-width: 767px) {
  .efi-brand:global(.w--current) {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .efi-brand {
    padding-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .image-27 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .image-27 {
    width: auto;
    padding-left: 0px;
  }
}

.efi-nav-01-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

  background-color: var(--new-craiedl-2);
}

@media screen and (max-width: 991px) {
  .efi-nav-01-nav-menu {
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .efi-nav-01-nav-menu {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.efi-nav-link {
  padding: 0px 10px;
  font-family: Poppins;
  color: var(--spark-library--black);
  font-size: 16px;
  text-decoration: none;
}

.efi-nav-link:hover {
  color: var(--craiedl-colour-1);
}

.efi-nav-link:active {
  color: var(--craiedl-colour-4);
}

@media screen and (max-width: 479px) {
  .efi-nav-link {
    margin-right: 40px;
    padding-left: 0px;
  }
}

.efi-nav-link.light {
  background-color: var(--new-craiedl-2);
  font-family: Poppins;
  text-decoration: none;
}

.efi-nav-link.light:hover {
  color: var(--craiedl-colour-1);
}

@media screen and (max-width: 991px) {
  .efi-nav-link.light {
    margin-right: 40px;
    padding: 30px 5%;
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .efi-nav-link.light {
    margin-right: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .efi-nav-link.light {
    padding-right: 0%;
    padding-bottom: 20px;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .efi-nav-link.trial {
    padding-right: 0px;
    padding-left: 4%;
  }
}

@media screen and (max-width: 479px) {
  .efi-nav-link.trial {
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  .dropdown-2 {
    padding-right: 0%;
    padding-left: 0%;
  }
}

.dropdown-toggle {
  padding-right: 20px;
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .dropdown-toggle {
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
}

.dropdown-link {
  background-color: var(--new-craiedl-2);
  opacity: 1;
  font-family: Poppins;
}

.dropdown-link:hover {
  background-color: var(--craiedl-colour-1);
  -webkit-text-stroke-color: var(--craiedl-colour-1);
}

.dropdown-link:global(.w--current) {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .dropdown-link {
    padding-left: 5%;
    font-weight: 300;
    text-align: left;
  }
}

.dropdown-link.background-color-white {
  opacity: 1;
}

.dropdown-link.background-color-white:hover {
  background-color: var(--white);
  color: var(--craiedl-colour-1);
}

@media screen and (max-width: 991px) {
  .dropdown-link.background-color-white {
    padding-left: 5%;
    font-weight: 300;
    text-align: left;
  }
}

.background-color-white {
  background-color: var(--white);
}

.efi-button-menu {
  padding: 0px;
  background-color: var(--new-craiedl-2);
}

@media screen and (max-width: 991px) {
  .efi-button-menu {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--banner-gradient-overlay);

    background-clip: border-box;
    -webkit-text-fill-color: inherit;

    object-fit: fill;
  }
}

@media screen and (max-width: 991px) {
  .efi-button-menu:active {
    background-color: var(--transparent);
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
    object-fit: fill;
  }
}

@media screen and (max-width: 991px) {
  .efi-button-menu:global(.w--open) {
    background-color: var(--white);
    transform: rotate(90deg);
    color: var(--new-craiedl-4);
  }
}

@media screen and (max-width: 767px) {
  .efi-button-menu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .efi-button-menu:active {
    background-color: var(--new-craiedl-2);
  }
}

@media screen and (max-width: 479px) {
  .efi-button-menu {
    padding-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  .efi-icon {
    color: var(--new-craiedl-1);
  }
}

@media screen and (max-width: 991px) {
  .efi-icon:hover {
    color: var(--new-craiedl-4);
  }
}

@media screen and (max-width: 991px) {
  .efi-icon:active {
    transform: rotate(0deg);
    color: var(--new-craiedl-4);
  }
}

@media screen and (max-width: 767px) {
  .efi-icon:active {
    color: var(--craiedl-colour-1);
  }
}