.navbar {
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: var(--new-craiedl-2);
}

.container-15 {
  position: sticky;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  object-fit: contain;
}

.nav-menu {
  font-family: Poppins;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    background-color: var(--new-craiedl-2);
  }
}

.nav-button {
  font-size: 16px;
  line-height: 22px;
}

.nav-button:hover {
  color: var(--craiedl-colour-4);
}

@media screen and (max-width: 991px) {
  .nav-button {
    background-color: var(--new-craiedl-2);
  }
}

@media screen and (max-width: 991px) {
  .dropdown {
    background-color: var(--new-craiedl-2);
  }
}

.dropdown-list {
  background-color: var(--new-craiedl-2);
  opacity: 0.5;
}

.dropdown-list-2 {
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .dropdown-list-2 {
    backdrop-filter: blur(5px);
  }
}

.menu-button-3 {
  background-color: var(--new-craiedl-2);
}

@media screen and (max-width: 991px) {
  .menu-button-3 {
    background-color: var(--new-craiedl-2);
  }
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-icon:hover {
  color: var(--craiedl-colour-4);
}