.read-more {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: none;
}